/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Common styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  color: #000000;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Header */

.page-header {
  min-height: 186px;
}

.header-wrapper {
  background-image: linear-gradient(180deg, transparent 40px, #FFE17F 40px);
}

.logo-wrapper {
  padding: 20px 60px 30px;
}

.header-logo {
  max-width: 145px;
  display: flex;
}

.header-logo-img {
  width: 100%;
  height: auto;
}

.user-menu {
  padding: 0 60px 30px;
  display: grid;
  grid-template-columns: 540px 500px;
  color: #000000;
}

.form-search {
  display: flex;
  max-width: 520px;
  height: 40px;
}

.form-search-input {
  padding: 10px 48px;
  width: 359px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  font-family: inherit;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  background-image: url("../images/icons/menu-search.svg");
  background-repeat: no-repeat;
  background-position: center left 15px;
}

.form-search-button {
  margin-left: -2px;
  padding: 10px;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 146px 56px repeat(2, 110px);
  gap: 26px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  justify-items: end;
}

.user-menu-item {
  display: grid;
  background-repeat: no-repeat;
}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  padding-left: 30px;
}

.user-login {
  grid-column: 1/3;
  justify-self: start;
  background-image: url("../images/icons/menu-user.svg");
  background-position: center left 3px;
}

.user-logout {
  opacity: .3;
}

.user-compare {
  background-image: url("../images/icons/menu-compare.svg");
  background-position: center left 9px;

}

.user-cart {
  position: relative;
  background-image: url("../images/icons/menu-cart.svg");
  background-position: top 6px left 2px;
}

.user-count {
  position: absolute;
  left: -13px;
  top: 5px;
  height: 21px;
  min-width: 21px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: normal;
  background-color: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  text-overflow: ellipsis;
}

.menu {
  padding: 0 60px 35px;
  position: relative;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr repeat(3, min-content);
  gap: 20px 45px;
  position: relative;
}

.menu-item:first-child {
  justify-self: start;
}

.menu-item:focus-within .submenu {
  display: grid;
  grid-template-columns: 200px 165px 150px;
}

.menu-link {
  display: block;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0;
}

.menu-catalog {
  position: relative;
  margin-right: auto;
  padding-right: 57px;
}

.menu-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  background-image: url(../images/icons/menu-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  border: 2px solid rgba(0, 0, 0, 0.30);
  border-radius: 50%;
  padding: 23px;
  z-index: 20;
}

.submenu {
  display: none;
  top: 35px;
  left: -60px;
  margin: 0;
  padding: 31px 60px 40px;
  position: absolute;
  background-color: #FFE17F;
  list-style-type: none;
  width: 1160px;
  min-height: 100%;
  z-index: 10;
  gap: 50px;
}

.submenu-column-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu-column-item {
  margin-bottom: 17px;
}

.submenu-column-link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

/* Main */

.main-container {
  flex-grow: 1;
}

/* Slider */

.slider {
  margin-top: -52px;
  background-image: linear-gradient(180deg,#FFE17F 150px, transparent 150px);
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.slider-item {
  display: none;

  position: relative;
}

.slider-item-current {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 560px;
}

.slider-img {
  width: 100%;
  height: auto;
}

.slider-content-wrapper {
  width: 560px;
  position: relative;
}

.slider-item::before {
  content: "";
  top: 30px;
  right: 48px;
  position: absolute;
  display: flex;
  align-items: center;
  height: 135px;
  color: #FFFFFF;
  font-size: 180px;
  font-weight: 700;
  z-index: 1;
}

.slider-item:first-child::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}

.slider-title {
  margin: 0;
  padding: 0;
  margin-top: 122px;
  margin-bottom: 29px;
  position: relative;
  z-index: 2;
}

.slider-description {
  margin: 0;
  margin-bottom: 50px;
}

.slider-button-more {
  display: inline-block;
  margin-bottom: 50px;
}

.slider-features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 20px;
}

.slider-features-item {
  display: flex;
  flex-direction: column;
}

.feature-value {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.feature-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.slider-button-wrapper {
  position: absolute;
  display: flex;
  top: 38%;
  left: 30px;
  justify-content: space-between;
  width: 530px;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-image: url("../images/icons/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-control {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider-control-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.slider-control-button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.slider-control-button-current {
  background-color: #000000;
}

/* Categories */

.categories {
  padding: 70px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-gap: 40px;
  min-height: 253px;
}

.category-item {
  background-image: linear-gradient(180deg, #FFE17F 160px, transparent 160px);
}

.category-link {
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  padding-top: 192px;
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.category-virtual {
  background-image: url("../images/icons/category-virtual.svg");
}

.category-monopod {
  background-image: url("../images/icons/category-monopod.svg");
}

.category-camera {
  background-image: url("../images/icons/category-camera.svg");
}

.category-fitness {
  background-image: url("../images/icons/category-fitness.svg");
}

.category-watch {
  background-image: url("../images/icons/category-watch.svg");
}

.category-quadrocopter {
  background-image: url("../images/icons/category-quadrocopter.svg");
}

/* Services */

.services {
  background-color: #F0F0F0;
  background-image: linear-gradient(180deg, #FFFFFF 100px, #F0F0F0 100px);
  padding-bottom: 72px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 280px 800px;
  column-gap: 116px;
}

.services-buttons {
  padding: 65px 0;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 30px;
  border-right: 7px solid #000000;
}

.services-button {
  padding: 10px 20px;
  border: none;
  text-align: left;
}

.services-button-current {
  background-color: #000000;
  color: #FFE17F;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: none;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: right 100px top 75px;
}

.services-delivery {
  background-image: url("../images/service-delivery.svg");
}

.services-warranty {
  background-image: url("../images/service-warranty.svg");
}

.services-credit {
  background-image: url("../images/service-credit.svg");
}

.services-item-current {
  display: block;
}

.services-title {
  margin-bottom: 34px;
  max-width: 500px;
}

.services-description {
  margin: 0;
  max-width: 500px;
}

/* Delivery */

.delivery {
  padding: 70px 0;
}

.delivery-button {
  display: inline-block;
  position: relative;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 38px 150px;
  background-image: linear-gradient(90deg, #FFE17F 125px, #F0F0F0 125px);
}

.delivery-button::before {
  content: "";
  position: absolute;
  left: 39px;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 31px;
  background-image: url("../images/icons/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.delivery-button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
  background-image: url("../images/icons/delivery-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.50);
}

/* About */ /* Contacts */

.about-contacts-wrapper {
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  padding: 47px 0 70px;
}

.about, .contacts {
  display: grid;
  row-gap: 30px;
  grid-auto-rows: min-content;
  position: relative;
}

.about::before, .contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: -48px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title,
.contacts-title {
  margin-bottom: 18px;
}

.about-description,
.contacts-description {
  margin: 0;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 38px;
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-item {
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-button,
.contacts-button {
  justify-self: start;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-address-phone {
  color: inherit;
}

.conacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Subscribe */

.subscribe {
  background-color: #F0F0F0;
  padding: 64px 0 56px;
}

.subscribe-text-wapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscribe-title {
  max-width: 350px;
}

.subscribe-description {
  margin: 0;
  margin-top: 10px;
  max-width: 560px;
}

.subscribe-form-wrapper {
  display: flex;
  height: 57px;
  align-items: center;
}

.subscribe-form {
  display: flex;
  max-width: 810px;
  width: 100%;
}

.subscribe-email {
  width: 100%;
  padding: 11px 16px;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-button {
  padding: 18px 35px;
  height: 100%;
  border: 3px solid #C4C4C4;
}

.subscribe-information {
  margin-left: auto;
  padding-left: 32px;
  background-image: url("../images/icons/subscribe-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* Footer */

.page-footer {
  padding: 62px 0;
  background-color: #444444;
  color: #FFFFFF;
}

.footer-top {
  margin-bottom: 35px;
}

.footer-logo {
  max-width: 145px;
  display: flex;
}

.footer-logo-img {
  width: 100%;
  height: auto;
}

.footer-middle {
  margin-bottom: 47px;
  display: flex;
  /* justify-content: space-between; */
  /* column-gap: 50px; */
  align-items: center;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 240px;
  margin-right: 120px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
  column-gap: 30px;
  align-self: baseline;
}

.footer-menu-link {
  color: #FFFFFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-phone {
  margin-left: auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* width: 800px; */
  position: relative;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.social-list {
  max-width: 440px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.30);
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-telegram {
  background-image: url("../images/icons/social-telegram.svg");
}

.social-youtube {
  background-image: url("../images/icons/social-youtube.svg");
}

.social-twitter {
  background-image: url("../images/icons/social-twitter.svg");
}

.social-link, .footer-logo-developer {
  color: #FFFFFF;
}

.footer-logo-developer {
  display: flex;
  fill: #FFC700;
  margin-left: auto;
}

/* Catalog */

/* Catalog-header */

.catalog-header {
  padding: 35px 60px;
}

.catalog-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-link {
  display: flex;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* Catalog-filter */

.catalog-container {
  background-color: #F0F0F0;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.catalog-filter {
  padding: 25px 60px;
  color: #000000;
}

.subtitle {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 60px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.catalog-filter-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-top: 12px;
  width: 100%;
  border-top: 2px solid #000000;
  margin-bottom: 20px;
}

.price-text {
  font-size: 14px;
  line-height: 20px;
  opacity: .3;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter-button {
  width: 100%;
}

/* Products */

.products {
  background-color: #FFFFFF;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #F0F0F0;
  color: #000000;
}

.sorting-control {
  height: 30px;
  border: none;
  margin: 0 auto;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.sorting-toggle-wrapper {
  display: flex;
  width: 60px;
  height: 30px;
}

.products-list {
  margin: 0;
  padding: 70px 40px 44px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
}

.product-card {
  min-height: 380px;
  cursor: pointer;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 380px;
  margin-bottom: 32px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-detail-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 380px;
}

.product-card:hover .product-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.80);
}

.product-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-title {
  margin: 0;
  padding: 0;
  max-width: 205px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-price {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.catalog-show-more {
  display: flex;
  margin: 0 40px 44px;
  padding: 18px 39px;
  justify-content: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #E5E5E5;
  color: #000000;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 78px;
  background-color: #EBEBEB;
}

.pagination-button {
  display: flex;
  padding: 25px;
  color: inherit;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button-current {
  opacity: .3;
}

.pagination-list {
  min-width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  opacity: .3;
}

.pagination-link-current {
  opacity: .6;
}
