/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Common styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.button {
  display: inline-block;
  min-height: 40px;
  padding: 9px 38px;
  color: #000000;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.button:hover::before {
  height: 100%;
}

.button:focus,
.button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button:active {
  outline: none;
}

.button:active::before {
  height: 100%;
  background-color: #FFCC33;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  opacity: .3;
  cursor: default;
}

.button:disabled:hover::before,
.button:disabled:active::before {
  height: 8px;
  background-color: #FFE17F;
}

/* Header */

.page-header {
  min-height: 186px;
}

.header-wrapper {
  background-image: linear-gradient(180deg, transparent 40px, #FFE17F 40px);
}

.logo-wrapper {
  padding: 20px 60px 30px;
}

.header-logo {
  max-width: 145px;
  display: flex;
}

.header-logo:hover {
  opacity: .6;
}

.header-logo:focus,
.header-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-logo:active {
  opacity: .3;
  outline: none;
}

.header-logo-img {
  width: 100%;
  height: auto;
}

.user-menu {
  padding: 0 60px 30px;
  display: grid;
  grid-template-columns: 540px 500px;
  color: #000000;
  align-items: center;
}

.form-search {
  display: flex;
  max-width: 520px;
  min-height: 40px;
}

.form-search-input {
  padding: 8px 48px;
  width: 359px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  font-family: inherit;
  color: #000000;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  background-image: url("../images/icons/menu-search.svg");
  background-repeat: no-repeat;
  background-position: center left 15px;
  appearance: none;
}

.form-search-input::-webkit-search-cancel-button {
  display: none;
}

.form-search-input:focus,
.form-search-input:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.form-search-input:disabled {
  opacity: .3;
}

.form-search-button {
  margin-left: -2px;
  padding: 8px 10px;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
}

.form-search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.form-search-button:focus,
.form-search-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.form-search-button:active {
  color: rgba(220, 220, 220, 0.30);
  background-color: #000000;
  outline: unset;
}

.form-search-button:disabled,
.form-search-button:disabled:hover {
  opacity: .3;
  background-color: inherit;
  color: inherit;
  cursor: default;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 150px 56px repeat(2, 110px);
  gap: 25px;
  list-style-type: none;
  align-items: center;
  /* justify-content: center; */
  justify-items: end;
}

.user-menu-item {
  background-repeat: no-repeat;
}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  padding-left: 30px;
  padding: 4px 0 4px 30px;
}

.user-menu-item:hover {
  opacity: .6;
}

.user-menu-item:active {
  opacity: .3;
}

.user-menu-link:focus,
.user-menu-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.user-menu-link:active {
  outline: none;
}

.user-login {
  grid-column: 1/3;
  justify-self: start;
  background-image: url("../images/icons/menu-user.svg");
  background-position: center left 3px;
}

.user-login-on {
  grid-column: 1/2;
}

.user-logout .user-menu-link {
  opacity: .3;
  padding-left: 0;
}

.user-compare {
  background-image: url("../images/icons/menu-compare.svg");
  background-position: center left 9px;
}

.user-cart {
  position: relative;
  background-image: url("../images/icons/menu-cart.svg");
  background-position: top 6px left 16px;
}

.user-cart .user-menu-link {
  padding-left: 45px;
}

.user-count {
  position: absolute;
  left: 1px;
  top: 5px;
  height: 21px;
  min-width: 21px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: normal;
  background-color: #FFFFFF;
  border-radius: 12px;
  text-align: center;
  text-overflow: ellipsis;
}

.menu {
  /* padding: 0 60px 35px; */
  padding: 0 60px 17px;
  position: relative;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px 45px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-item {
  z-index: 15;
  position: relative;
}

.menu-item:first-child {
  flex-grow: 1;
}

.menu-item:focus-within .submenu {
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  display: block;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 0 4px 0;
  border-bottom: 2px solid transparent;
}

.menu-link-current {
  border-bottom: 2px solid #000000;
}

.menu-link:hover,
.submenu-column-link:hover {
  opacity: .6;
}

.menu-link:focus,
.menu-link:focus-visible,
.submenu-column-link:focus,
.submenu-column-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.menu-link:active,
.submenu-column-link:active {
  opacity: .3;
  outline: none;
}

.menu-catalog {
  position: relative;
  margin-right: auto;
  padding-right: 57px;
  max-width: 295px;
  padding: 15px 0;
  z-index: 15;
}

.menu-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  background-image: url(../images/icons/menu-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 23px;
  opacity: .3;
}

.menu-catalog:hover,
.menu-catalog:focus,
.menu-catalog:focus-visible,
.menu-catalog:active {
  opacity: 1;
}

.menu-catalog:hover::after {
  opacity: 1;
}

.menu-catalog:focus::after {
  opacity: .3;
}

.menu-catalog:active::after {
  opacity: 1;
}

.submenu {
  display: none;
  top: 35px;
  left: -60px;
  margin: 0;
  padding: 31px 60px 40px;
  position: absolute;
  background-color: #FFE17F;
  list-style-type: none;
  width: 1160px;
  min-height: 100%;
  z-index: 10;
  gap: 20px 60px;
}

.submenu-column {
  min-width: 152px;
}

.submenu-column-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu-column-item {
  margin-bottom: 17px;
  justify-self: start;
}

.submenu-column-link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

/* Main */

.main-container {
  flex-grow: 1;
}

/* Slider */

.slider {
  /* margin-top: -52px; */
  margin-top: -36px;
  background-image: linear-gradient(180deg,#FFE17F 150px, transparent 150px);
  position: relative;
}

.slider-button-wrapper {
  position: absolute;
  display: flex;
  top: 38%;
  left: 30px;
  justify-content: space-between;
  width: 530px;
  z-index: 15;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-image: url("../images/icons/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-button:hover {
  opacity: .6;
}

.slider-button:focus,
.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-button:active {
  opacity: .3;
  outline: none;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.slider-item {
  display: none;
  position: relative;
}

.slider-item-current {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 560px;
}

.slider-img {
  width: 100%;
  height: auto;
}

.slider-content-wrapper {
  width: 560px;
  position: relative;
  padding: 122px 0 26px 0;
}

.slider-item::before {
  content: "";
  top: 30px;
  right: 48px;
  position: absolute;
  display: flex;
  align-items: center;
  height: 135px;
  color: #FFFFFF;
  font-size: 180px;
  font-weight: 700;
  z-index: 1;
}

.slider-item:first-child::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}

.slider-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  position: relative;
  z-index: 2;
}

.slider-description {
  margin: 0;
  margin-bottom: 50px;
}

.slider-button-more {
  display: inline-block;
  margin-bottom: 50px;
}

.slider-features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 20px;
}

.slider-features-item {
  display: flex;
  flex-direction: column;
}

.feature-value {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.feature-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.slider-control {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider-control-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.slider-control-button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.slider-control-button-current {
  background-color: #000000;
}

.slider-control-button:hover {
  opacity: .6;
}

.slider-control-button:focus,
.slider-control-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-control-button:active {
  opacity: .3;
  outline: none;
}

/* Categories */

.categories {
  padding: 70px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-gap: 40px;
  min-height: 253px;
}

.category-item {
  background-image: linear-gradient(180deg, #FFE17F 160px, transparent 160px);
}

.category-item:hover {
  background-image: linear-gradient(180deg, #FFC700 160px, transparent 160px);
}

.category-item:active {
  opacity: .3;
  background-image: linear-gradient(180deg, #FFE17F 160px, transparent 160px);
}

.category-link:focus,
.category-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.category-link:active {
  outline: none;
}

.category-link {
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  padding-top: 192px;
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  height: 100%;
}

.category-virtual {
  background-image: url("../images/icons/category-virtual.svg");
}

.category-monopod {
  background-image: url("../images/icons/category-monopod.svg");
}

.category-camera {
  background-image: url("../images/icons/category-camera.svg");
}

.category-fitness {
  background-image: url("../images/icons/category-fitness.svg");
}

.category-watch {
  background-image: url("../images/icons/category-watch.svg");
}

.category-quadrocopter {
  background-image: url("../images/icons/category-quadrocopter.svg");
}

/* Services */

.services {
  background-color: #F0F0F0;
  background-image: linear-gradient(180deg, #FFFFFF 100px, #F0F0F0 100px);
  padding-bottom: 72px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 287px 800px;
  column-gap: 116px;
}

.services-buttons {
  padding: 65px 0;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  row-gap: 35px;
  border-right: 7px solid #000000;
}

.services-button {
  width: 160px;
  padding: 10px 20px;
  border: none;
  text-align: center;
}

.services-button-current {
  background-color: #000000;
  color: #FFE17F;
  width: 100%;
  text-align: left;
}

.services-button-current::before {
  content: "";
  width: 0;
}

.services-button-current:hover,
.services-button-current:focus,
.services-button-current:focus-visible,
.services-button-current:active {
  padding-left: 35px;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: none;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: right 105px top 75px;
}

.services-delivery {
  background-image: url("../images/service-delivery.svg");
}

.services-warranty {
  background-image: url("../images/service-warranty.svg");
}

.services-credit {
  background-image: url("../images/service-credit.svg");
}

.services-item-current {
  display: block;
}

.services-title {
  margin-bottom: 34px;
  max-width: 500px;
}

.services-description {
  margin: 0;
  max-width: 500px;
}

/* Delivery */

.delivery {
  padding: 70px 0;
}

.delivery-button {
  display: inline-block;
  position: relative;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 38px 150px;
  background-image: linear-gradient(90deg, #FFE17F 125px, #F0F0F0 125px);
}

.delivery-button:hover {
  background-image: linear-gradient(90deg, #FFC700 125px, #F0F0F0 125px);
}

.delivery-button:focus,
.delivery-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.delivery-button:active {
  opacity: .3;
  outline: none;
}

.delivery-button::before {
  content: "";
  position: absolute;
  left: 39px;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 31px;
  background-image: url("../images/icons/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.delivery-button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
  background-image: url("../images/icons/delivery-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.50);
  /* opacity: .3; */
}

.delivery-button:hover::after {
  opacity: 1;
}

/* About */ /* Contacts */

.about-contacts-wrapper {
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  padding: 47px 0 70px;
}

.about, .contacts {
  display: grid;
  row-gap: 30px;
  grid-auto-rows: min-content;
  position: relative;
}

.about::before, .contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: -48px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title,
.contacts-title {
  margin-bottom: 18px;
}

.about-description,
.contacts-description {
  margin: 0;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 38px;
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-item {
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-button,
.contacts-button {
  justify-self: start;
  padding: 10px 22px;
}

.contacts-button {
  padding: 10px 33px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-address-phone {
  color: inherit;
}

.contacts-address-phone:hover {
  opacity: .6;
}

.contacts-address-phone:focus,
.contacts-address-phone:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.contacts-address-phone:active {
  outline: none;
  opacity: .3;
}
.conacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Subscribe */

.subscribe {
  background-color: #F0F0F0;
  padding: 64px 0 54px;
}

.subscribe-text-wapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscribe-title {
  max-width: 350px;
  margin-left: 7px;
}

.subscribe-description {
  margin: 0;
  margin-top: 10px;
  margin-right: -7px;
  max-width: 560px;
}

.subscribe-form-wrapper {
  display: flex;
  height: 57px;
  align-items: center;
}

.subscribe-form {
  display: flex;
  max-width: 810px;
  width: 100%;
}

.subscribe-email {
  width: 100%;
  padding: 11px 16px;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-email:hover {
  background-color: #E6E6E6;
}

.subscribe-email:focus,
.subscribe-email:focus-visible {
  outline: none;
  background-color: #DCDCDC;
}

.subscribe-email:invalid {
  border-color: #FF3D3D;
}

.subscribe-email:disabled,
.subscribe-email:disabled:hover {
  opacity: .3;
  background-color: inherit;
}

.subscribe-button {
  padding: 15px 35px;
  height: 100%;
  border: 3px solid #C4C4C4;
}

.subscribe-button:hover {
  border: 3px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  }

.subscribe-button:focus,
.subscribe-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.subscribe-button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.30);
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-button:disabled,
.subscribe-button:hover:disabled {
  background-color: inherit;
  color: inherit;
  border: 3px solid #C4C4C4;
}

.subscribe-button::before {
  content: "";
  width: 0;
}

.subscribe-information {
  margin: 0;
  margin-left: auto;
  padding-left: 32px;
  background-image: url("../images/icons/subscribe-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* Footer */

.page-footer {
  padding: 62px 0;
  background-color: #444444;
  color: #FFFFFF;
}

.footer-top {
  margin-bottom: 35px;
}

.footer-logo {
  max-width: 145px;
  display: flex;
}

.footer-logo:hover {
  opacity: .6;
}

.footer-logo:focus,
.footer-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-logo:active {
  opacity: .3;
  outline: none;
}

.footer-logo-img {
  width: 100%;
  height: auto;
}

.footer-middle {
  margin-bottom: 47px;
  display: flex;
  align-items: center;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 240px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
  column-gap: 30px;
  align-self: baseline;
  margin-left: 120px;
}

.footer-menu-link {
  color: #FFFFFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 0 4px 0;
  border-bottom: 2px solid transparent;
}

.footer-menu-link:hover {
  border-bottom: 2px solid #FFC700;
}

.footer-menu-link:hover,
.footer-phone:hover {
  color: #FFC700;
}

.footer-menu-link:focus,
.footer-menu-link:focus-visible,
.footer-phone:focus,
.footer-phone:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-menu-link:active,
.footer-phone:active {
  opacity: .3;
  outline: none;
}

.footer-phone {
  margin-left: auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.social-list {
  max-width: 440px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  margin-left: 360px;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.30);
}

.social-item:hover {
  background-color: #FFC700;
}

.social-link:focus,
.social-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.social-link:active {
  opacity: .3;
  outline: none;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-telegram {
  background-image: url("../images/icons/social-telegram.svg");
}

.social-youtube {
  background-image: url("../images/icons/social-youtube.svg");
}

.social-twitter {
  background-image: url("../images/icons/social-twitter.svg");
}

.footer-logo-developer {
  display: flex;
  fill: #FFC700;
  margin-left: auto;
}

.footer-logo-developer:hover {
  fill: #FFFFFF;
}

.footer-logo-developer:focus,
.footer-logo-developer:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-logo-developer:active {
  opacity: .3;
  outline: none;
}

/* Catalog */

/* Catalog-header */

.catalog-header {
  padding: 36px 60px 33px;
}

.catalog-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -22px;
  background-image: url(../images/icons/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 10px;
  width: 7px;
}

.breadcrumbs-link {
  display: flex;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):hover {
  opacity: .6;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):active {
  opacity: .3;
  outline: none;
}

.breadcrumbs-link:focus,
.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* Catalog-filter */

.catalog-container {
  background-color: #F0F0F0;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.catalog-filter {
  /* padding: 25px 60px; */
  padding: 25px 40px 25px 60px;
  color: #000000;
}

.subtitle {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 58px;
  word-wrap: break-word;
}

.catalog-filter-form {
  word-break: break-all;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  max-width: 200px;
}

.catalog-filter-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-top: 12px;
  width: 100%;
  border-top: 2px solid #000000;
  margin-bottom: 20px;
}

.range {
  margin-bottom: 12px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-top: 8px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, .5);
}

.range-toggle:focus,
.range-toggle:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range-toggle:active {
  outline: none;
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-filter-label {
  margin-left: -12px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .3);
}

.range-input {
  width: 60px;
  height: 20px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  text-align: left;
  color: inherit;
}

.range-input:focus,
.range-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  padding-left: 36px;
  position: relative;
  display: block;
  cursor: pointer;
}

.control:hover {
  opacity: .6;
}

.control:active {
  opacity: .3;
}

.control:disabled {
  opacity: .1;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: url(../images/icons/checkmark.svg);
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.control-input:focus + .control-mark,
.control-input:focus-visible + .control-mark {
  opacity: 1;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input:disabled + .control-mark,
.control-input:disabled:hover + .control-mark,
.control-input:disabled:active + .control-mark,
.control-input:disabled ~ .control-label,
.control-input:disabled:hover ~ .control-label,
.control-input:disabled:active ~ .control-label {
  opacity: .1;
  cursor: default;
}

.catalog-filter-button {
  width: 100%;
  padding: 8px 38px;
}

/* Products */

.products {
  background-color: #FFFFFF;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #F0F0F0;
  color: #000000;
}

.products-title {
  max-width: 200px;
  word-wrap: break-word;
}

.sorting-control {
  min-width: 141px;
  max-width: 250px;
  padding-right: 35px;
  height: 30px;
  border: none;
  margin-left: auto;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  background-image: url(../images/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.sorting-control:hover {
  opacity: .6;
}

.sorting-control:focus,
.sorting-control:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.sorting-control:active {
  opacity: .3;
  outline: none;
}

.sorting-control:disabled {
  opacity: .1;
}

.sorting-toggle-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  min-height: 30px;
  margin-left: auto;
}

.sorting-toggle {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/sorting.svg");
  opacity: .2;
}

.sorting-toggle:nth-child(2) {
  transform: rotate(180deg);
}

.sorting-toggle:hover {
  opacity: .5;
}

.sorting-toggle:focus,
.sorting-toggle:focus-visible {
  outline: 2px solid #AF4FFF;
}

.sorting-toggle:active {
  opacity: 1;
  outline: none;
}

.products-list {
  margin: 0;
  padding: 70px 40px 44px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
}

.product-card {
  position: relative;
  min-height: 380px;
  cursor: pointer;
}

.product-card-new::before {
  content: "NEW";
  position: absolute;
  top: 26px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, .6);border-radius: 50%;
  font-family: "Raleway", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.60);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  z-index: 2;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 380px;
  margin-bottom: 32px;
  display: block;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-detail-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 380px;
}

.product-card:hover .product-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.80);
  z-index: 10;
}

.product-card:hover .product-text-wrapper {
  opacity: .6;
}

.product-card:active .product-text-wrapper {
  opacity: .3;
}

.product-card:active .product-button::before {
  background-color: #FFC700;
}

.product-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-link {
  text-decoration: none;
  color: #000000;
  display: block;
}

.product-link:focus,
.product-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-link:active {
  outline: none;
}

.product-title {
  margin: 0;
  padding: 0;
  max-width: 205px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-price {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.catalog-show-more {
  display: flex;
  margin: 0 40px 44px;
  padding: 15px 39px;
  justify-content: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #E5E5E5;
  color: #000000;
  text-decoration: none;
}

.catalog-show-more:hover {
  border: 3px solid #000000;
}

.catalog-show-more:focus,
.catalog-show-more:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-show-more:active {
  opacity: .3;
  outline: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 78px;
  background-color: #EBEBEB;
}

.pagination-button {
  display: flex;
  padding: 25px;
  color: inherit;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button-current {
  opacity: .3;
  cursor: default;
}

.pagination-button:not(.pagination-button-current):hover {
  background-color: #DCDCDC;
}

.pagination-button:focus,
.pagination-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* .pagination-button-current:focus,
.pagination-button-current:focus-visible {
  outline: none;
} */

.pagination-button:not(.pagination-button-current):active {
  outline: none;
  color: rgba(0, 0, 0, .3);
}

.pagination-list {
  min-width: 200px;
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, .3);
  text-decoration: none;
}

.pagination-link-current {
  color: rgba(68, 68, 68, .6);
  cursor: default;
}

.pagination-link:not(.pagination-link-current):hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:not(.pagination-link-current):focus,
.pagination-link:not(.pagination-link-current):focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* .pagination-link-current:focus,
.pagination-button-current:focus-visible {
  outline: none;
} */

.pagination-link:not(.pagination-link-current):active {
  color: rgba(68, 68, 68, .1);
  outline: none;
}

.link-disabled,
.link-disabled:hover,
.link-disabled:focus,
.link-disabled:focus-visible,
.link-disabled:active {
  opacity: .3;
  cursor: default;
  outline: none;
}

.catalog-show-more.link-disabled {
  border: 3px solid #E5E5E5;
}

.link-disabled:hover::before,
.link-disabled:active::before {
  height: 8px;
  background-color: #FFE17F;
}
